$color-0000001a: #0000001a;
$color-131921: #131921;
$color-1c1c1b: #1c1c1b;
$color-232f3e: #232f3e;
$color-3b4149: #3b4149;
$color-777777: #777777;

$color-eaeaea: #eaeaea;
$color-f5f5f7: #f5f5f7;
$color-ededed: #ededed;
$color-f2f2f2: #f2f2f2;

$color-febd69: #febd69;
$color-bf4800: #bf4800;
///////////admin///////////

$color-ffd333: #ffd333;
$color-212529: #212529;
$color-ffd333: #ffd333;
$color-47ad24: #47ad24;
$color-e52e2e: #e52e2e;
$color-828599: #828599;
$color-3d464d: #ed464d;
$color-c3d4da: #ced4da;
$color-2a4364: #2a4364;
