@import "./stylesStore/variables.scss";

.footer {
  background-color: $color-232f3e;
  color: white;

  .footerUpper {
    padding: 20px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 16px;
    .title {
      margin: 8px 8px 8px 0;
    }
    a {
      color: white;
      margin: 10px 0px;
    }

    .social {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 20px;
      svg {
        font-size: 22px;
      }
    }

    .link {
      display: flex;
      flex-direction: column;
    }
  }

  .footerBottom {
    border-top: 1px solid rgba(225, 225, 225, 0.1);
    padding: 20px 50px;
    p {
      text-align: center;
      margin-bottom: 0;
    }
  }
}
