@import "./stylesStore/variables.scss";
@import "./stylesStore/breakpoints.scss";

.header {
  background-color: $color-131921;
  p {
    color: white;
    margin-bottom: 0;
    transition: 0.3s;
  }
  a,
  div {
    color: white;
    transition: 0.3s;
    cursor: pointer;
    &:hover {
      color: orange;
    }
  }

  .headerUpper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    border-bottom: 1px solid $color-3b4149;
    h4 {
      display: flex;
      align-items: center;
      margin: 0;
    }
  }

  .search {
    position: relative;
    width: 100%;
    height: 50px;
    align-items: center;
    background-color: white;
    border-radius: 7px;
  }

  .upperLink {
    display: flex;
    align-items: center;
    gap: 30px;
    a,
    div {
      position: relative;
      display: flex;
      align-items: center;
      gap: 10px;
    }
    svg {
      font-size: 35px;
      @include md {
        font-size: 25px;
      }
    }

    .cartCount {
      position: absolute;
      top: -5px;
      right: -5px;
      background: aquamarine;
      color: black;
      padding: 0 3px;
      border-radius: 5px;
      font-size: 16px;
      font-weight: 600;
      @include md {
        font-size: 12px;
      }
    }
  }

  .headerBottom {
    display: flex;
    padding: 10px 50px;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: $color-232f3e;
  }

  .smallScreenShow {
    display: none;
    @include sm {
      display: flex;
    }
  }
  .smallScreenHide {
    display: flex;
    @include sm {
      display: none;
    }
  }
  .smallerLGhide {
    display: flex;
    @include lg {
      display: none;
    }
  }
}
