@import "./stylesStore/variables.scss";

.gr-12 {
  width: 100%;
  .product-card {
    display: flex;
    gap: 20px;
    .product-image {
      width: 270px;
      height: auto;
    }
    .action-bar {
      top: 17%;
    }
  }
}
.gr-6 {
  width: 49%;
  .product-card {
    .product-image {
      width: 100%;
      img {
        margin: auto;
        display: block;
      }
    }
  }
}
.gr-4 {
  width: 32%;
}
.gr-3 {
  width: 24%;
}

.product-card {
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  &:hover {
    .product-image {
      > img:nth-child(1) {
        display: none;
      }
      > img:last-child {
        display: block;
      }
    }
    .action-bar {
      right: 15px;
    }
  }
  .wishlist-icon {
    top: 2%;
    right: 15px;
  }

  .product-image {
    height: 270px;
    img {
      object-fit: contain;
    }
    > img:last-child {
      display: none;
    }
  }

  .product-details {
    .brand {
      color: $color-bf4800;
      font-size: 13px;
    }
    .product-title {
      font-size: 15px;
      color: $color-1c1c1b;
    }
    .price {
      font-size: 16px;
      color: $color-1c1c1b;
    }
    .description {
      font-size: 13px;
      color: $color-777777;
      margin-right: 20px;
    }
  }

  .action-bar {
    top: 10%;
    right: -23px;
    transition: 0.3s;
  }
}
