@import "./stylesStore/variables.scss";

.singleBlogPage {
  background-color: $color-f5f5f7;

  .single-blog-card {
    a {
      font-size: 18px;
      color: $color-777777;
      margin-bottom: 20px;
    }
    h3 {
      font-size: 24px;
      font-weight: 600;
      color: $color-1c1c1b;
    }
    p {
      color: $color-777777;
      font-size: 14px;
    }
  }
}
