@import "./stylesStore/variables.scss";
@import "./stylesStore/breakpoints.scss";

.singleProductPage {
  background-color: $color-f5f5f7;

  .main-product-wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px;
    .images {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 20px;
      border-radius: 10px;
      background-color: white;
      width: 55%;
      @include md {
        width: 100%;
        margin-bottom: 20px;
      }

      .imageZoom {
        position: relative;
        padding: 20px;
        display: flex;
        justify-content: center;
        border: 1px solid rgba(0, 0, 0, 0.25);
        border-radius: 10px;

        // .js-image-zoom__zoomed-image {
        //   left: 50px !important;
        //   padding: 10px;
        //   background-color: white;
        //   border-radius: 10px;
        //   z-index: 1;
        // }
        img {
          width: 100% !important;
          // height: 100% !important;
          max-height: 450px;
          object-fit: contain;
          border-radius: 10px;
        }
      }

      .other-product-images {
        .react-multi-carousel-list {
          padding: 20px 0;
          div {
            padding: 10px;
            width: 110px;
            border: 1px solid rgba(0, 0, 0, 0.25);
            border-radius: 10px;
          }
        }
      }
    }

    .main-product-detail {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 20px;
      background-color: white;
      border-radius: 10px;
      width: 43%;
      @include md {
        width: 100%;
      }
      > div {
        padding: 10px 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.25);
        &:last-child {
          border-bottom: none !important;
        }
      }

      .title {
        h3 {
          font-size: 25px;
          font-weight: 600;
          color: $color-1c1c1b;
          margin: 0;
        }
      }
      .price {
        font-size: 20px;
        line-height: 20px;
        font-weight: 600;

        .rating {
          display: flex;
          align-items: center;
          gap: 10px;
          .t-review {
            margin-bottom: 0;
            color: $color-777777;
            font-size: 13px;
          }
        }
        .review-btn {
          color: $color-777777;
          font-size: 13px;
        }
      }

      .bottom {
        .items {
          display: flex;
          align-items: center;
          gap: 10px;
          margin: 10px 0;

          .product-data {
            font-size: 16px;
            color: $color-777777;
            margin-bottom: 0;
          }
        }
        .product-heading {
          font-size: 18px;
          color: $color-1c1c1b;
          margin-bottom: 0;
        }
        .variants {
          display: flex;
          flex-direction: column;
          gap: 10px;
          margin: 10px 0 20px 0;
          .wrapper {
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
          }
          .size {
            padding: 5px 10px;
            font-size: 12px;
            font-weight: bold;
            text-align: center;
            border-radius: 5px;
            color: black;
            border: 1px solid #ced4da;
          }
          .color {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            cursor: pointer;
            border: 1px solid rgba(0, 0, 0, 0.25);
          }
        }

        .function {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          gap: 15px;
          margin: 10px 0 20px 0;
          .quantity {
            display: flex;
            align-items: center;
            gap: 10px;
            input {
              width: 70px;
              padding: 7px;
              border-radius: 7px;
            }
          }
          .buttonGroup {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 15px;
            > button {
              border: none;
            }
            .buyNow {
              background-color: $color-febd69;
              color: $color-131921;
              &:hover {
                background-color: $color-131921;
                color: white;
              }
            }
          }
        }

        .compareWish {
          display: flex;
          align-items: center;
          gap: 15px;
          .icon {
            font-size: 20px;
            margin-right: 8px;
          }
        }
        a {
          font-size: 14px;
          color: $color-777777;
        }
        .policy {
          margin: 20px 0;
          display: flex;
          flex-direction: column;
          gap: 10px;
        }
      }
    }
  }

  .description-wrapper {
    h4 {
      font-size: 26px;
      color: $color-1c1c1b;
    }
    div {
      display: flex;
      flex-direction: column;
      background-color: white;
      padding: 20px;
      justify-content: center;
      border-radius: 10px;
      p {
        font-size: 14px;
        color: $color-777777;
        margin: 0;
      }
    }
  }

  .review-wrapper {
    margin-top: 20px;
    h4 {
      font-size: 26px;
      color: $color-1c1c1b;
      margin-bottom: 10px;
    }
    .review-inner-wrapper {
      background-color: white;
      padding: 30px;
      border-radius: 10px;

      .review-form {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        h4 {
          font-size: 16px;
          color: $color-777777;
        }
        form {
          display: flex;
          flex-direction: column;
          gap: 15px;
          textarea {
            width: 100%;
            padding: 7px;
            border-radius: 7px;
          }
          .submitButton {
            display: flex;
            justify-content: end;
            margin-bottom: 20px;
          }
        }
      }

      .reviews {
        margin: 20px 0;

        .review {
          .nameAndStar {
            display: flex;
            align-items: center;
            gap: 10px;
            .name {
              margin-bottom: 0;
            }
          }

          .comment {
            font-size: 14px;
            color: $color-777777;
            margin-top: 10px;
          }
        }
      }
    }
  }

  .popular-wrapper {
    padding: 50px;
  }
}
