* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Roboto, sans-serif;
}

.css-1asjls9-MuiDrawer-docked {
  width: 250px !important;
  .MuiDrawer-paper {
    width: 250px !important;
  }
}
