@import "./stylesStore/variables.scss";

.loginPage {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-2a4364;
  padding: 20px;

  .paper {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    img {
      width: 100px;
      margin-bottom: 10px;
    }
    form {
      padding: 20px;
      max-width: 400px;
      position: relative;

      .input {
        margin-bottom: 20px;
        &:nth-of-type(2) {
          margin-bottom: 10px;
        }
      }

      .submit {
        font-size: 20px;
        margin-top: 20px;
      }
    }
  }
}
