$color-0000001a: #0000001a;
$color-131921: #131921;
$color-1c1c1b: #1c1c1b;
$color-232f3e: #232f3e;
$color-3b4149: #3b4149;
$color-777777: #777777;

$color-f5f5f7: #f5f5f7;
$color-ededed: #ededed;
$color-f2f2f2: #f2f2f2;

$color-febd69: #febd69;
$color-bf4800: #bf4800;
